  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .link-text{
    text-decoration: none;
    color: #3B5998;
  }

  .link-text:hover{
    color: #3B5998;
    text-decoration: underline;
    text-decoration-color: #3B5998;
  }

  .footer {
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #212529;
    }

  .footer-text{
    padding-top: 50px;
  }

  .footer-icon{
    text-decoration: none;
    color: #3B5998;
  }

  .footer-icon:hover{
    color: #376bd9;
  }

  .backgrnd{

  background-color: rgb(190, 190, 190);

  }

  .fa {
    padding: 10px;
    font-size: 15px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 175px;
    background: #2f4675;
    box-shadow:  3px 3px 0px #171528;
  }
  
  .fa:hover {
    background-color: #376bd9;
    color: white;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 20px;
    text-align: center;
  }

  .column-tiny {
    float: left;
    width: 16.5%;
    padding: 20px;
    text-align: center;
  }
  
  .column-alt {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
  }

  .row{
    text-align: center;
    padding: 20px;
  }

  .row::after {
    clear: both;
    display: flex;
  }

  .values{
    border-radius: 50%;
    border-width: 5px;
    padding: 15px;
    word-spacing: 5px;
  }

  .values:hover{
    color: white;
    background-color: #6f93e1;
  }

  .bg-color{
    background-color: #3B5998;
    color: white;
  }

  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .text-center{
    text-align: center;
    padding: 15px;
  }

  .view {
    width: 400px;
    height: 300px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.view .mask, .view .content {
    width: 400px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.typing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-effect {
  width: 12ch;
  animation: typing 2s steps(22), effect .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}
    
@keyframes effect {
  50% {
    border-color: transparent;
  }
}

.checklist {
	padding: 50px;
	position: relative;
	background: #3B5998;
}
.checklist h2 {
	color: #f3f3f3;
	font-size: 25px;
	padding: 10px 0;
	margin-left: 10px;
	display: inline-block;
	border-bottom: 4px solid #f3f3f3;
}
.checklist label {
	position: relative;
	display: block;
	margin: 40px 0;
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}
.checklist input[type="checkbox"] {
	-webkit-appearance: none;
}
.checklist i {
	position: absolute;
	top: 2px;
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 2px solid #fff;
}
.checklist input[type="checkbox"]:checked ~ i {
	top: 1px;
	height: 15px;
	width: 25px;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}
.checklist span {
	position: relative;
	left: 40px;
	transition: 0.5s;
}
.checklist span:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	transform: translateY(-50%) scaleX(0);
	transform-origin: left;
	transition: transform 0.5s;
}
.checklist input[type="checkbox"]:checked ~ span:before {
	transform: translateY(-50%) scaleX(1);
	transform-origin: right;
	transition: transform 0.5s;
}
.checklist input[type="checkbox"]:checked ~ span {
	color: #154e6b;
}
  
  


